[submodule "Voxel-Core/dependencies/glfw"]
	path = Voxel-Core/dependencies/glfw
	url = https://github.com/cianjinks/glfw
[submodule "Voxel-Core/dependencies/glm"]
	path = Voxel-Core/dependencies/glm
	url = https://github.com/cianjinks/glm
[submodule "Voxel-Core/dependencies/spdlog"]
	path = Voxel-Core/dependencies/spdlog
	url = https://github.com/gabime/spdlog
